<footer>
  <nav itemscope itemtype="http://schema.org/Person">
    <link itemprop="url" href="https://prinsfrank.nl">
    <h2 itemprop="name">{{ site.title | escape }}</h2>
    <ul>
      <li>
        {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ site.title | escape }}
        {%- endif -%}
      </li>
      {%- if site.email -%}
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {%- endif -%}
      {%- if site.pgp_fingerprint -%}
        <li>Fingerprint: {{ site.pgp_fingerprint }}</li>
      {%- endif -%}
    </ul>
    {%- include social.html -%}
    <p>{{- site.description -}}</p>
  </nav>
</footer>
