<time id="dmttlocal" class="inline"><span id="dmttlocal-t">000</span><span id="dmttlocal-ct">00</span></time>
<script>
    var DMTTTickLocal = document.getElementById('dmttlocal-t');
    var DMTTCentiTickLocal = document.getElementById('dmttlocal-ct');

    function updateDMTTLocal() {
        var now           = new Date();
        var milliSeconds  = (now.getSeconds() + (now.getMinutes() * 60) + (now.getHours() * 60 * 60)) * 1000 + now.getMilliseconds();
        var centiTick     = Math.floor(milliSeconds / 864000 * 1000);
        var tickOnly      = Math.floor(centiTick / 100);
        var centiTickOnly = centiTick - (tickOnly * 100);

        var currentTick = tickOnly.toString().padStart(3, '0');
        if (DMTTTickLocal.innerHTML !== currentTick) {
            DMTTTickLocal.innerHTML = currentTick;
        }

        var currentCentiTick = centiTickOnly.toString().padStart(2, '0');
        if (DMTTCentiTickLocal.innerHTML !== currentCentiTick) {
            DMTTCentiTickLocal.innerHTML = currentCentiTick;
        }
    }

    updateDMTTLocal();
    setInterval(updateDMTTLocal, 864 / 8);
    // A tick takes 864ms, but because of lag that differs between browsers the deviation from the current time can make the browser catch up with skipping ticks.
    // To make this less obvious we refresh 8 times as much, so a skip is 8 times as common but only an 8th of the amount and less noticeable.
</script>