<ul>
    {%- if site.github_username -%}
    <li>{{ -}}
        Github: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://github.com/{{ site.github_username| cgi_escape | escape }}">{{ -}}
            {{ site.github_username| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.google_scholar_username -%}
    <li>{{ -}}
        Google Scholar: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://scholar.google.com/citations?user={{ site.google_scholar_username| cgi_escape | escape }}">{{ -}}
            {{ site.google_scholar_visible_name| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.instagram_username -%}
    <li>{{ -}}
        Instagram: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">{{ -}}
            {{ site.instagram_username| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.linkedin_username -%}
    <li>{{ -}}
        Linkedin:  {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">{{ -}}
            {{ site.linkedin_username| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.thingiverse_username -%}
    <li>{{ -}}
        Thingiverse: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://www.thingiverse.com/{{ site.thingiverse_username| escape }}/designs">{{ -}}
            {{ site.thingiverse_username| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.polarsteps_username -%}
    <li>{{ -}}
        Polarsteps: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="https://www.polarsteps.com/{{ site.polarsteps_username| escape }}">{{ -}}
            {{ site.thingiverse_username| escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
    {%- if site.rss -%}
    <li>{{ -}}
        RSS: {{ -}}
        <a itemprop="sameAs" target="_blank" rel="noopener" {{ -}}
           href="{{ 'feed.xml' | relative_url }}">{{ -}}
            {{ site.rss | escape -}}
        </a>{{ -}}
    </li>
    {%- endif -%}
</ul>
