<time id="common">00:00:00H</time>
<script>
    function updateCommonTime() {
        var now = new Date();
        document.getElementById('common').innerHTML =
            now.getHours() + ":" + now.getMinutes().toString().padStart(2, '0') + ":" + now.getSeconds().toString().padStart(2, '0') + "H";
    }

    updateCommonTime();
    setInterval(updateCommonTime, 1000 / 10);
    // A seconds takes 1000ms, but because of lag that differs between browsers the deviation from the current time can make the browser catch up with skipping ticks.
    // To make this less obvious we refresh 10 times as much, so a skip is 10 times as common but only a 10th of the amount and less noticeable.
</script>