:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  overflow-y: scroll;

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark-mode;
    background-color: $background-color-dark-mode;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  line-height: $h1-line-height;
}

h2 {
  font-size: 28px;
}

a {
  color: $link-color;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: $link-color-dark-mode;
  }

  &:visited {
    color: $link-color-visited;

    @media (prefers-color-scheme: dark) {
      color: $link-color-visited-dark-mode;
    }
  }

  &:hover {
    transition: .3s;
    color: $link-color-hover;
    text-decoration: underline;

    @media (prefers-color-scheme: dark) {
      color: $link-color-hover-dark-mode;
    }
  }
}

img {
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    filter: brightness(.8) contrast(1.2);
  }
}


figure {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;

  & img,
  & svg {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  & img {
    // Only necessary for img sources, as svgs get loaded with the page source
    background: url("/images/loaders/puff.svg") center center no-repeat;
  }

  &.full-width {
    left: 50%;
    margin-left: -49vw;
    margin-right: -49vw;
    max-width: 98vw; // Don't use 100vw here as it includes the scrollbar
    max-height: $max-full-height-img;
    position: relative;
    right: 50%;
    width: 100vw;
    height: auto;

    & img,
    & svg {
      position: static;
      object-fit: contain;
      max-height: $max-full-height-img;
    }
  }
}

p,
figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

svg {
  &#worldmap {
    .country {
      fill: #CCCCCC;
      fill-opacity: 1;
      stroke:white;
      stroke-opacity: 1;
      stroke-width:0.5;

      &:hover {
        fill-opacity: 0.7;
      }
    }

    @for $i from 1 through length($tag-colors) {
      $color: nth($tag-colors, $i);
      &.color-#{$i} {
        @each $countryCode in $countryCodes {
          &.#{$countryCode} ##{$countryCode} {
            fill: $color;
          }
        }
      }
    }

    #AQ {
      display: none;
    }
  }
}

hr {
  border: none;

  &:after {
    display: block;
    content: '...';
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5em;
  }
}

header {
  border-top: 5px solid $border-color-dark;
  border-bottom: 1px solid $border-color-light;
  line-height: $header-height;

  @media (prefers-color-scheme: dark) {
    border-top-color: $border-color-dark-mode-dark;
    border-bottom-color: $border-color-dark-mode-light;
  }

  [rel~=author] {
    color: $header-color;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $header-color-dark-mode;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  [itemtype~="http://www.schema.org/SiteNavigationElement"] {
    float: right;
    padding: 0;
    margin: 0;

    [itemprop~=name] {
      float: right;
      margin: 0 10px;
      list-style: none;

      [itemprop~=url] {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  padding: $vertical-padding 0;
  overflow: visible;

  [itemtype~="http://www.schema.org/SiteNavigationElement"] {
    padding: 0 0 (.5 * $vertical-padding) 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    list-style: none;

    [itemprop~=name] {
      height: 24px;
      line-height: 24px;
      position: relative;
      float: left;
      margin: 2px 12px;
      padding: 0 12px;

      &:not(.tag-active) {
        opacity: 0.5;
      }

      [itemprop~=url] {
        color: white;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -12px;
          width: 0;
          height: 0;
          border-color: transparent transparent transparent transparent;
          border-style: solid;
          border-width: 12px 12px 12px 0;
        }

        &:after {
          content: "";
          float: left;
          position: absolute;
          top: 10px;
          left: 1px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #fff;
        }

        &:hover {
          color: white;
          text-decoration: none;
        }
      }

      @for $index from 1 through length($tag-colors) {
        $color: nth($tag-colors, $index);
        &.tag-#{$index} {
          background-color: $color;
        }
        &.tag-#{$index} [itemprop~=url]:before {
          border-right-color: $color;
        }
      }
    }
  }

  article {
    a {
      text-decoration: underline;
    }
  }
}

footer {
  padding: 30px 0;
  border-top: 1px solid $border-color-light;
  border-bottom: 5px solid $border-color-dark;
  font-size: 15px;

  @media (prefers-color-scheme: dark) {
    border-top-color: $border-color-dark-mode-light;
    border-bottom-color: $border-color-dark-mode-dark;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  ul {
    float: left;
    width: calc(100% / 3);

    @include media-query($on-laptop) {
      width: 100%;
    }
  }
}

header nav,
main,
footer nav {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;

  padding-left: calc(100vw - 100% + #{$spacing-unit});
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: calc(100vw - 100% + (#{$spacing-unit} / 2));
  }
}

[itemtype~="http://schema.org/ItemList"] {
  padding: 0;
  [itemtype~="http://schema.org/ListItem"][itemtype~="http://schema.org/Article"] {
    list-style-type: none;
    margin: 10px 0 0;

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    [itemprop~="datePublished"], [itemprop~="author"] {
      font-size: 14px;
      margin-right: 5px;
    }

    > [itemprop~="name"] * {
      font-size: 24px;
    }
  }
}

@for $index from 1 through length($tag-colors) {
  .category-indicator-#{$index} {
    background-color: nth($tag-colors, $index);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 5px;
  }
}

code {
  display: block;
  overflow-x: auto;
}

time.inline {
  display: inline-block;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0 6rem 0;
  user-select: none;
  * {
    position: relative;
    &::before {
      font-size: 1rem;
      line-height: 1rem;
      position: absolute;
      transform: rotate(45deg);
      top: 5.5rem;
      left: calc(50% - 2rem);
      text-align: left;
      width: 9rem;
      white-space: pre;
    }
  }
  #common-h {
    &::before {
      content: '24 Hours\00000a0-23';
    }
    &::after {
      content: ':';
    }
  }
  #common-m {
    &::before {
      content: '60 Minutes\00000a0-59';
    }
    &::after {
      content: ':';
    }
  }
  #common-s {
    &::before {
      content: '60 Seconds\00000a0-59';
    }
    &::after {
      content: 'H';
    }
  }
  #dmttlocal-t,
  #dmtt-t {
    &::before {
      content: '1000 Ticks\00000a0-999';
    }
    &::after {
      content: ',';
    }
  }
  #dmttlocal-ct,
  #dmtt-ct {
    &::before {
      content: '100 Centiticks\00000a0-99';
    }
    &::after {
      content: 't';
    }
  }
}

.certificate {
  text-align: center;
  float: left;
  width: 50%;
  height: 250px;

  a {
    text-decoration: none;
  }

  .logo {
    height: 100px;
    display: block;
    margin: auto auto;

    img {
      max-height: 100%;
      max-width: 80%;
    }
  }

  span {
    display: block;
    margin: 0 auto;
  }
}
