* {
  box-sizing: border-box;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 28px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


a {
  color: #154f9b;
  text-decoration: none;

  &:visited {
    color: #0c2d58;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

figure {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;

  & img {
    width: 100%;
    position: absolute;
    background: url("/images/loaders/puff.svg") center center no-repeat;
  }
}

hr {
  border: none;

  &:after {
    display: block;
    content: '...';
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5em;
  }
}

header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  line-height: 54px;

  [rel~=author] {
    color: #424242;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  [itemtype~="http://www.schema.org/SiteNavigationElement"] {
    float: right;

    [itemprop~=url] {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  padding: 30px 0;
  overflow: hidden;
}

footer {
  padding: 30px 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 5px solid $grey-color-dark;
  font-size: 15px;
  color: #545454;

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  ul {
    float: left;
    width: calc(100% / 3);

    @include media-query($on-laptop) {
      width: 100%;
    }
  }
}

header nav,
main,
footer nav {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;

  padding-left: calc(100vw - 100% + #{$spacing-unit});
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: calc(100vw - 100% + (#{$spacing-unit} / 2));
  }
}

[itemtype~="http://schema.org/ListItem"][itemtype~="http://schema.org/Article"] {
  margin-bottom: 30px;

  [itemprop~="datePublished"], [itemprop~="author"] {
    font-size: 14px;
    color: #545454;
  }

  [itemprop~="author"] [itemprop~="name"]::before {
    content: " \2022  ";
  }

  > [itemprop~="name"] * {
    font-size: 24px;
  }
}

code {
  display: block;
  overflow-x: auto;
}