@function contrast-checker($color, $contrast-color) {
  $r: (max(red($color), red($contrast-color))) - (min(red($color), red($contrast-color)));
  $g: (max(green($color), green($contrast-color))) - (min(green($color), green($contrast-color)));
  $b: (max(blue($color), blue($contrast-color))) - (min(blue($color), blue($contrast-color)));

  @if $r + $g + $b < 500 {
    @return false;
  } @else {
    @return true;
  }
}

@function get-wcag-contrast-color($color, $contrast-color) {
  @while(contrast-checker($color, $contrast-color) == false) {
    $color: darken($color, 1%);
    @if(contrast-checker($color, $contrast-color) == true) {
      @return $color;
    }
  }

  @return $color;
}