---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a href="/">Back to posts ↺</a>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <span>{{ page.subtitle }}</span>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <a href="/">Back to posts ↺</a>
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
