name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check for external links with missing target="blank"
        run: if grep -P '\[[^\]]*\]\([^)\/|{%]*\)(?!{)' * --include \*.md -r -o ; then exit 1; else exit 0; fi
